@model BlogCollectionCategoriesViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<h4>Write Blog</h4>
<div>Click below to add a write a new blog:</div>
<div>
    <a asp-action="Create" class="btn btn-primary">Write New Blog</a>
</div>
<hr />
<div class="row"></div>
<h4>Filter and sort blogs</h4>
<div>
    Choose blog attribute below to order blogs by in ascending order
</div>
<div class="col-md-6">
    <form asp-action="Index">
        <div class="form-check">
            <input type="radio" class="form-check-input" asp-for="BlogAttributeSorting" value="" checked />
            <label asp-for="BlogAttributeSorting" class="control-label">None</label>
        </div>
        <div class="form-check">
            <input type="radio" class="form-check-input" asp-for="BlogAttributeSorting" value="CreatedDate" />
            <label asp-for="BlogAttributeSorting" class="control-label">Date written (or last edited)</label>
        </div>
        <div class="form-check">
            <input type="radio" class="form-check-input" asp-for="BlogAttributeSorting" value="User" />
            <label asp-for="BlogAttributeSorting" class="control-label">User</label>
        </div>
        <div class="form-check">
            <input type="radio" class="form-check-input" asp-for="BlogAttributeSorting" value="Title" />
            <label asp-for="BlogAttributeSorting" class="control-label">Title</label>
        </div>
        <div class="form-check">
            <input type="radio" class="form-check-input" asp-for="BlogAttributeSorting" value="LikeCount" />
            <label asp-for="BlogAttributeSorting" class="control-label">Like count</label>
        </div>

        <div class="form-group">
            <label asp-for="SelectedCategoryIds"></label><br />
            <label asp-for="SelectedCategoryIds"><kbd>Ctrl + Left-click</kbd> to select more categories</label>
            <select asp-for="SelectedCategoryIds" asp-items="Model.Categories" class="form-control">
                <option>All Categories</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Filter</button>
    </form>
</div>
<h4>Read blogs</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BlogCollection.First().CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlogCollection.First().User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlogCollection.First().Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlogCollection.First().Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlogCollection.First().LikeCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlogCollection.First().BlogCategories)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.BlogCollection.Any())
        {
            foreach (Blog blog in Model.BlogCollection)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(blogItem => blog.CreatedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(blogItem => blog.User)
                    </td>
                    <td>
                        @Html.DisplayFor(blogItem => blog.Title)
                    </td>
                    <td>
                        @blog.ShortenedText()
                    </td>
                    <td>
                        @Html.DisplayFor(blogItem => blog.LikeCount)
                    </td>
                    <td>
                        @blog.ConcatenatedBlogCategories()
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@blog.Id">Comments</a><br />
                        <a asp-action="Edit" asp-route-id="@blog.Id">Edit</a><br />
                        <a asp-action="Delete" asp-route-id="@blog.Id">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
