@model List<Blog>
@{
    ViewData["Title"] = "See Blogs";
}
<h1>@ViewData["Title"]</h1>
<p>Here are all the blog (Number of blogs: @Model.Count)</p>
<p> <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="SeeCategories">See Categories</a> </p>
<p> <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="SeeBlogsDate">See Date</a> </p>

<ul>
    @foreach(Blog blog_instance in Model)
    {
        <li>
            <details>
                <summary>@blog_instance.Title </summary>
                <p>@blog_instance.Text </p>
                <br />
                <p>@blog_instance.Category </p>
                <details>
                    <summary> Rediger </summary>
                    <div id="editableText" contenteditable="true"> @blog_instance.Text </div>
                    <input type="button" value="Save redigering" onclick="rediger(blog_instance.id)">  
                </details>
            </details>
        </li>
    }
</ul>